{% extends 'base_navbar.html' %}

{%  block title %}FEEDS{% endblock  %}
{%  block content %}
<div >
        <div id="post">
            {% block post %}
            {% endblock %}
        </div>
<div>


    <h1 class="my-5">
        Here is the feed_list
    </h1>
    {% for note in feeds %}
    <div class="row row-cols3 g-2 my-5">
        <div class="col">
            <div class="p-3 border">
                <div>@{{ note.user  }}:</div>
                    <h2>{{ note.status  }}</h2>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock  %}